{% extends 'layouts/base.html' %}
{% block title %}
    Create New Account
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">I am a Student</h3>
                 </div>
                 <div class="panel-body">
                    Panel content
                 </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">I am a Professor </h3>
                 </div>
                 <div class="panel-body">
                    Panel content
                 </div>
            </div>
        </div>
    </div>
{% endblock %}