{% extends "layouts/base.html" %}
{% block title %}
    User Profile
{% endblock %}
{% block content %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                User: {{ user.username }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4 column">
                                <span>First Name: {{ user.first_name }}</span>
                                <br>
                                <span>Last Name: {{ user.last_name }}</span>
                                <br>
                                <span>Major: </span>
                                <br>
                                <span>University: </span>
                            </div>
                            <div class="col-md-4 column">
                                <div class="text-right">
                                    Photo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                </div>
            </div>
            <h3>Recent Activity</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Payment Taken
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        Default
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}