{% extends 'layouts/base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-primary" href="{% url 'roster-detail' object.id %}">View Roster</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pending Roster</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <th>Student Name</th>
                        <th>Approve</th>
                        <th>Deny</th>
                        </thead>
                        <tbody>
                        {% for student in pending_students %}
                            <tr>
                                <td>{{ student.student.user.first_name }}, {{ student.student.user.last_name }}</td>
                                <td>
                                    <a class="btn btn-success"
                                       href="{% url 'approve-deny-lecture' student.id 'true' %}">Approve</a>
                                </td>
                                <td>
                                    <a class="btn btn-warning"
                                       href="{% url 'approve-deny-lecture' student.id 'false' %}">Deny</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Attendance <a class="btn btn-primary"
                                                          href="{% url 'create-attendance' object.id %}">Take
                        Attendance</a></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <th>Student Name</th>
                        <th>In Class?</th>
                        </thead>
                        <tbody>
                        {% for student in in_class_students %}
                            <tr>
                                <td>{{ student.student.user.first_name }}, {{ student.student.user.last_name }}</td>
                                {% if student.present %}
                                    <td><i class="fa fa-check"></i></td>
                                {% else %}
                                    <td><i class="fa fa-times"></i></td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a class="btn btn-success dropdown-toggle" id="createDropDown" data-toggle="dropdown" data-target="#"><i
                    class="fa fa-plus"></i><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="createDropDown">
                {# <li><a href="#">Create Multiple Choice Question</a></li> #}
                <li><a href="{% url 'boolean-question-create' %}">Create True/False Question</a></li>
                <li><a href="{% url 'open-question-create' %}">Create Open Ended Question</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Class Questions
                    </h3>
                </div>
                <div class="panel-body">
                <h2> Close Ended Questions</h2>
                    <table class="table table-responsive">
                        <thead>
                        <th>Question #</th>
                        <th>Question Text</th>
                        <th>Answer</th>
                        <th>Active</th>
                        <th>Activate/ Deactivate</th>
                        <th>Responses</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        {% for question in closed_questions %}
                            <tr>
                                <td>{{ question.id }}</td>
                                <td>{{ question.text }}</td>
                                <td>{{ question.answer.correct_answer.text }}</td>
                                {% if question.is_active %}
                                    <td><i class="fa fa-check"></i></td>
                                    <td>
                                        <button class="btn btn-default">Deactivate</button>
                                    </td>
                                {% else %}
                                    <td><i class="fa fa-times"></i></td>
                                    <td>
                                        <button class="btn btn-default">Activate</button>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'question-answer-reponse-detail' question.id %}">{{ question.get_response_count }}</a>
                                </td>
                                <td><a class="btn btn-danger" href="{% url 'question-delete' question.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                                <h2> Open Ended Questions</h2>
                    <table class="table table-responsive">
                        <thead>
                        <th>Question #</th>
                        <th>Question Text</th>
                        <th>Active</th>
                        <th>Activate/ Deactivate</th>
                        <th>Responses</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        {% for question in questions %}
                            <tr>
                                <td>{{ question.id }}</td>
                                <td>{{ question.text }}</td>
                                {% if question.is_active %}
                                    <td><i class="fa fa-check"></i></td>
                                    <td>
                                        <button class="btn btn-default">Deactivate</button>
                                    </td>
                                {% else %}
                                    <td><i class="fa fa-times"></i></td>
                                    <td>
                                        <button class="btn btn-default">Activate</button>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'question-answer-reponse-detail' question.id %}">{{ question.get_response_count }}</a>
                                </td>
                                <td><a class="btn btn-danger" href="{% url 'question-delete' question.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}