{%  extends 'layouts/base.html' %}
{%  block title %}
    My Classes
{%  endblock %}
{%  block content %}
    <div class="row clearfix">
		<div class="col-md-12 column">
            {%  if user.instructor == None %}
			 <a href="{%  url 'register-lecture' %}" type="button" class="btn btn-danger btn-lg btn-block">Register For Class</a>
            {%  elif user.student == None %}
                <a href="{%  url 'create-lecture' %}" type="button" class="btn btn-danger btn-lg btn-block">Add Class</a>
            {%  endif %}
		</div>
	</div>
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							Department
						</th>
						<th>
							Class Name
						</th>
						<th>
							Department Code
						</th>
                        <th>
                            Registration Code
                        </th>
                        <th>
                            Professor
                        </th>
                        <th>
                            Enrollment #
                        </th>
						<th>
							Link
						</th>
					</tr>
				</thead>
				<tbody>
                {%  for class in object_list %}
					<tr>
						<td>
							{{ class.department }}
						</td>
						<td>
							{{ class.name }}
						</td>
						<td>
							{{ class.code }}
						</td>
                        <td>
                            {{ class.registration_code }}
                        </td>
                        <td>
                            {{ class.instructor.user.first_name }},  {{ class.instructor.user.last_name }}
                        </td>
                        <td>
                            {{ class.enrollment_count }}
                        </td>
						<td>
							<a href="{%  url 'detail-lecture' class.pk %}">View Class Page</a>
						</td>
					</tr>
                {%  endfor %}
				</tbody>
			</table>
		</div>
	</div>
{%  endblock %}