{% extends 'layouts/base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="col-lg-12">
    <a class="btn btn-default" href="{{ back_url }}">Back</a>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Roster
                       <a class="btn btn-primary"
                                                          href="">Add
                        </a></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <td>#</td>
                        <th>Student Name</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        {% for student in roster %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> <a href="{% url 'public-profile' student.id %}">{{ student.user.first_name }}, {{ student.user.last_name }}</a></td>
                                <td><a class="btn btn-danger" href="{% url 'delete-registration' student.id %}">Delete</a></td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}